@import "reset.css";


.header {
    top: 0;
    position: fixed;
    z-index: 90;
    background:  #ff6f00;
    height: 60px;
    width: 100%;
    justify-content: center;
}

.container-header {
    max-width: 1000px;
    height: 60px;
    margin: 0 auto;
    list-style: none;
}

.pass-container {
    padding: 20px;
    margin-top: 60px;
}


.hidden  {
    display: none;
}

.password-card {
    border: 2px solid #ff6f00;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #e8e8e8;
    width: 150px;


}
/*.password-card {*/
/*    width: 150px;*/
/*    height: 40px;*/
/*    border: 2px solid #ff6f00;*/
/*    padding: 10px;*/
/*    margin-bottom: 20px;*/
/*    border-radius: 5px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    background: #e8e8e8;*/
/*    transform: skew(-20deg);*/
/*}*/

.password-details {
    margin-top: 10px;
}

