@import "reset.css";


.header {
    top: 0;
    position: fixed;
    z-index: 90;
    background:  #ff6f00;
    height: 60px;
    width: 100%;
    justify-content: center;
}

.container-header {
    max-width: 1000px;
    height: 60px;
    margin: 0 auto;
    list-style: none;
}

.pass-container {
    padding: 20px;
    margin-top: 60px;
}


.hidden  {
    display: none;
}

.password-card {
    border: 1px solid #ff6f00;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #e8e8e8;
    width: 500px;
}


.password-details {
    margin-top: 10px;
}


.password-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.password-details th,
.password-details td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
    background: #f9f9f9;
}

.password-details th {
    background-color: #eee;
    width: 30%;
}


.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.site-name {
    font-weight: normal;
    font-size: 18px;
    flex-grow: 1;
}

.toggle-btn,
.edit-btn {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.field {
    margin-top: 8px;
}


.hidden {
    display: none;
}









.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
}

.hidden {
    display: none;
}

.close-btn {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

