<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Мои Пароли {% endblock title %}</title>
    <link rel="icon" href="/static/img/passwords/logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/static/css/passwords/passwords.css">
    <link rel="stylesheet" type="text/css" href="/static/css/users/users.css">
    <link rel="stylesheet" type="text/css" href="/static/css/users/users.css">
</head>

<body>
    {% block userinfo %}
        <header class="header">
            <img class="header-img" src="/static/img/passwords/logo.png" width="40px" height="40px">
        </header>
    {% endblock userinfo %}

    {% block content %}
    {% endblock content%}


</body>
</html>