{% extends 'base.html' %}
{% block title %} Вход в аккаунт {% endblock title %}
{% block content %}
<div class="container">
    <h1>ВХОД</h1>
    <form id="login-form" class="registration-form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" id="login-button" class="submit-button" onclick="loginFunction(event)">Войти</button>
        <button type="button" class="redirect_auth" onclick="window.location.href='/pages/register'">Зарегистрироваться</button>
    </form>
</div>
<script src="/static/js/users/users_login.js"></script>
{% endblock content%}
