<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои Пароли</title>
    <link rel="stylesheet" href="/static/css/passwords/passwords.css">
</head>
<body>
    {% block userinfo %}
        <header class="header">
            <img class="header-img" src="/static/img/passwords/logo.png" width="40px" height="40px">
        </header>
    {% endblock userinfo %}

{% block content %}
<div class="pass-container">
        <div class="All-pass">
            <h1>PASSWORDS</h1>
            <button class="add-pass-btn" data-modal-btn="modal_window2" onclick="addPassword(this)">Add
                <img src="/static/img/passwords/plus.png" width="20" height="20">
            </button>
        </div>
    {% for password in passwords %}
    <div class="password-card" data-id="{{ password.id }}">
        <div class="card-header">
            <h3 class="site-title">{{ password.site_name }}</h3>
            <div class="button-group">
                <button class="edit-btn hidden" onclick="editPassword(this)">Редактировать</button>
                <button class="show-btn" onclick="toggleDetails(this)">Показать</button>
            </div>
        </div>
        <div class="password-details hidden">
            <form class="password-form">
                <div class="form-grid">
                    <div class="form-group">
                        <label for="user_name_{{ password.id }}" style="font-weight: normal";>Логин</label>
                            <div class="input-copy-wrapper">
                                <input type="text" id="user_name_{{ password.id }}" value="{{ password.user_name }}" readonly>
                                    <button type="button" class="copy-btn" title="Скопировать" onclick="copyToClipboard('user_name_{{ password.id }}')">
                                    <img src="/static/img/passwords/copy.png" width="20" height="21"></button>
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="password_{{ password.id }}" style="font-weight: normal">Пароль</label>
                            <div class="input-copy-wrapper">
                                <input type="text" id="password_{{ password.id }}" value="{{ password.password }}"  readonly>
                                    <button type="button" class="copy-btn" title="Скопировать" onclick="copyToClipboard('password_{{ password.id }}')">
                                    <img src="/static/img/passwords/copy.png" width="20" height="21"></button>
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="email_{{ password.id }}" style="font-weight: normal">Email</label>
                            <div class="input-copy-wrapper">
                                <input type="text" id="email_{{ password.id }}" value="{{ password.email }}"  readonly>
                                    <button type="button" class="copy-btn" title="Скопировать" onclick="copyToClipboard('email_{{ password.id }}')">
                                    <img src="/static/img/passwords/copy.png" width="20" height="21"></button>
                            </div>
                    </div>


                    <div class="form-group">
                        <label for="phone_{{ password.id }}" style="font-weight: normal">Телефон</label>
                            <div class="input-copy-wrapper">
                                <input type="text" id="phone_{{ password.id }}" value="{{ password.phone_number }}"  readonly>
                                    <button type="button" class="copy-btn" title="Скопировать" onclick="copyToClipboard('phone_{{ password.id }}')">
                                    <img src="/static/img/passwords/copy.png" width="20" height="21"></button>
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="site_{{ password.id }}" style="font-weight: normal">Сайт</label>
                            <div class="input-copy-wrapper">
                                <input type="text" id="site_{{ password.id }}" value="{{ password.site }}"  readonly>
                                    <button type="button" class="copy-btn" title="Скопировать" onclick="copyToClipboard('site_{{ password.id }}')">
                                    <img src="/static/img/passwords/copy.png" width="20" height="21"></button>
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="note_{{ password.id }}" style="font-weight: normal">Примечание</label>
                            <div class="input-copy-wrapper">
                                <input type="text" id="note_{{ password.id }}" value="{{ password.note }}"  readonly>
                                <button type="button" class="copy-btn" title="Скопировать" onclick="copyToClipboard('note_{{ password.id }}')">
                                <img src="/static/img/passwords/copy.png" width="20" height="21"></button>
                            </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
    <div data-modal-window="modal_window1" class="modal">
        <div class="modal_content">
            <div class="modal_inner">
                <div class="modal_title">Изменить пароль</div>
                <div class="close_modal_window">&times;</div>
            </div>
             <form id="edit-password-form">
                <div class="form-group">
                    <label for="modal_user_name">Логин</label>
                    <input type="text" id="modal_user_name" name="user_name">
                </div>
                <div class="form-group">
                    <label for="modal_password">Пароль</label>
                    <input type="text" id="modal_password" name="password">
                </div>
                <div class="form-group">
                    <label for="modal_email">Email</label>
                    <input type="text" id="modal_email" name="email">
                </div>
                <div class="form-group">
                    <label for="modal_phone">Телефон</label>
                    <input type="text" id="modal_phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="modal_site">Сайт</label>
                    <input type="text" id="modal_site" name="site">
                </div>
                <div class="form-group">
                    <label for="modal_note">Примечание</label>
                    <input type="text" id="modal_note" name="note">
                </div>
                 <div class="button-save-wrapper">
                <button class="save-btn" type="submit">Сохранить изменения</button>
                 </div>
             </form>
        </div>
    </div>

    <div data-modal-window="modal_window2" class="modal">
        <div class="modal_content">
            <div class="modal_inner">
                <div class="modal_title">Добавить пароль</div>
                <div class="close_modal_window">&times;</div>
            </div>
             <form id="add-password-form">
                 <div class="form-group">
                    <label for="modal_user_name">Название сайта</label>
                    <input type="text" id="add_modal_site_name" name="user_name">
                </div>
                <div class="form-group">
                    <label for="modal_user_name">Логин</label>
                    <input type="text" id="add_modal_user_name" name="user_name">
                </div>
                <div class="form-group">
                    <label for="modal_password">Пароль</label>
                    <input type="text" id="add_modal_password" name="password">
                </div>
                <div class="form-group">
                    <label for="modal_email">Email</label>
                    <input type="text" id="add_modal_email" name="email">
                </div>
                <div class="form-group">
                    <label for="modal_phone">Телефон</label>
                    <input type="text" id="add_modal_phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="modal_site">Сайт</label>
                    <input type="text" id="add_modal_site" name="site">
                </div>
                <div class="form-group">
                    <label for="modal_note">Примечание</label>
                    <input type="text" id="add_modal_note" name="note">
                </div>
                 <div class="button-save-wrapper">
                <button class="save-btn" type="submit">Сохранить изменения</button>
                 </div>
             </form>
        </div>
    </div>
{% endblock content %}
    <div id="copy-toast" class="copy-toast"></div>
    <script src="/static/js/passwords/password_info.js"></script>
    <script src="/static/js/passwords/edit_password.js"></script>
    <script src="/static/js/passwords/add_password.js"></script>
</body>
</html>
