<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои Пароли</title>
<link rel="stylesheet" type="text/css" href="/static/css/passwords/passwords.css">
</head>
<body>
    {% block userinfo %}
        <header class="header">
        </header>
    {% endblock userinfo %}

    {% block content %}
    <div class="pass-container">
        <h1>Список паролей</h1>
        {% for password in passwords %}
        <div class="password-card">
            <h3>{{ password.site_name }}</h3>
            <button class="toggle-btn" onclick="toggleDetails(this)">Показать</button>
            <div class="password-details hidden">
                <p><strong>Логин:</strong> {{ password.user_name }}</p>
                <p><strong>Пароль:</strong> {{ password.password }}</p>
                <p><strong>Email:</strong> {{ password.email }}</p>
                <p><strong>Телефон:</strong> {{ password.phone_number }}</p>
                <p><strong>Примечание:</strong> {{ password.note }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock content%}
<script src="/static/js/passwords/password_info.js"></script>
</body>
</html>