<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои Пароли</title>
<link rel="stylesheet" type="text/css" href="/static/css/passwords/passwords.css">
</head>
<body>
    {% block userinfo %}
        <header class="header">
        </header>
    {% endblock userinfo %}

    {% block content %}
    <div class="pass-container">
        <h1>Список паролей</h1>
        {% for password in passwords %}

            <div class="password-card" data-id="{{ password.id }}">
            <div class="card-header">
                <h3 class="site-title">{{ password.site_name }}</h3>
                <button onclick="toggleDetails(this)">Показать</button>
                <button onclick='openModal({{ password | tojson | safe }})'>Изменить</button>

            </div>
                <div class="password-details hidden">
                <table class="details-table">
                    <tr>
                        <th>Логин</th><td contenteditable="false">{{ password.user_name }}</td>
                        <th>Email</th><td contenteditable="false">{{ password.email }}</td>
                    </tr>
                    <tr>
                        <th>Пароль</th><td contenteditable="false">{{ password.password }}</td>
                        <th>Телефон</th><td contenteditable="false">{{ password.phone_number }}</td>
                    </tr>
                    <tr>
                        <th>Сайт</th><td contenteditable="false">{{ password.site }}</td>
                        <th>Примечание</th><td contenteditable="false">{{ password.note }}</td>
                    </tr>
                </table>
            </div>
        </div>

        {% endfor %}
   <!-- Модалка -->
        <div id="editModal" class="modal hidden">
            <div class="modal-content">
                <span class="close-btn" onclick="closeModal()">&times;</span>
                <h2>Редактировать пароль</h2>
                <form id="editForm">
                    <input type="hidden" id="edit-id">
                    <label>Логин: <input type="text" id="edit-username"></label><br>
                    <label>Email: <input type="text" id="edit-email"></label><br>
                    <label>Пароль: <input type="text" id="edit-password"></label><br>
                    <label>Телефон: <input type="text" id="edit-phone"></label><br>
                    <label>Сайт: <input type="text" id="edit-site"></label><br>
                    <label>Примечание: <textarea id="edit-note"></textarea></label><br>
                    <button type="button" onclick="submitEdit()">Сохранить</button>
                </form>
            </div>
        </div>
    {% endblock content%}
<script src="/static/js/passwords/password_info.js"></script>
<script src="/static/js/passwords/eddit_password.js"></script>
</body>
</html>